<a href="https://colab.research.google.com/github/KARTHIKEYANC04052002/Live_Covid_cases/blob/main/Live_Covid_Cases_India.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = "https://api.covid19india.org/state_district_wise.json"

In [3]:
raw_df = pd.read_json(url).T

In [4]:
covid_df = pd.DataFrame()

In [5]:
for i in raw_df.itertuples():
  temp_df = pd.DataFrame(i[1]).T
  temp_df['State'] = i[0]
  if covid_df.shape[0] > 0: covid_df = covid_df.append(temp_df)
  else: covid_df = temp_df

In [6]:
covid_states_df = covid_df.groupby('State').sum()

In [7]:
covid_states_df

                                          active  ...  recovered
State                                             ...
Andaman and Nicobar Islands                   91  ...       6952
Andhra Pradesh                            103995  ...    1664082
Arunachal Pradesh                           3305  ...      26569
Assam                                      42305  ...     392806
Bihar                                       7352  ...     698397
Chandigarh                                   649  ...      59432
Chhattisgarh                               19471  ...     950234
Dadra and Nagar Haveli and Daman and Diu     160  ...      10243
Delhi                                       4511  ...    1400913
Goa                                         5790  ...     152073
Gujarat                                    14724  ...     793028
Haryana                                     7079  ...     748186
Himachal Pradesh                            6682  ...     186872
Jammu and Kashmir                          19852  ...     279779
Jharkhand                                   5099  ...     332007
Karnataka                                 215525  ...    2480411
Kerala                                    139065  ...    2524248
Ladakh                                       941  ...      18194
Lakshadweep                                  787  ...       8141
Madhya Pradesh                              7071  ...     771243
Maharashtra                               161864  ...    5597304
Manipur                                     9307  ...      47129
Meghalaya                                   4849  ...      34440
Mizoram                                     3273  ...      10866
Nagaland                                    3893  ...      18261
Odisha                                     63280  ...     764673
Puducherry                                  6853  ...     102247
Punjab                                     18546  ...     548316
Rajasthan                                  11832  ...     927443
Sikkim                                      3869  ...      13265
State Unassigned                               0  ...          0
Tamil Nadu                                204258  ...    2059597
Telangana                                  24301  ...     569086
Tripura                                     5814  ...      50380
Uttar Pradesh                              14067  ...    1664296
Uttarakhand                                 9258  ...     313379
West Bengal                                14702  ...    1411573

[37 rows x 6 columns]